<ul class="list-group" id="left-menu">
  <li class="list-group-item">
    <a href="#" class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#category1">
      <strong>Text Tools</strong>
      <span class="badge badge-primary badge-pill">+</span>
    </a>
    <div id="category1" class="collapse show">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/word-counter">Word Counter</a></li>
        <li class="list-group-item"><a href="/to-uppercase">To Uppercase</a></li>
        <li class="list-group-item"><a href="/to-lowercase">To Lowercase</a></li>
        <li class="list-group-item"><a href="/reverse-text">Reverse Text</a></li>
        <li class="list-group-item"><a href="/url-escape-unescape">URL Encode/Decode</a></li>
        <li class="list-group-item"><a href="/html-encode-decode">HTML Encode/Decode</a></li>
      </ul>
    </div>
  </li>
  <li class="list-group-item">
    <a href="#" class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#category2">
      <strong>Data Conversion</strong>
      <span class="badge badge-primary badge-pill">+</span>
    </a>
    <div id="category2" class="collapse show">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/json-formatter">JSON Formatter</a></li>
        <li class="list-group-item"><a href="/xml-to-json">XML to JSON</a></li>
        <li class="list-group-item"><a href="/xml-to-xsd">XML to XSD</a></li>
        <li class="list-group-item"><a href="/base64">Base64 Encode/Decode</a></li>
        <li class="list-group-item"><a href="/rgb-converter">RGB Converter</a></li>
        <li class="list-group-item"><a href="/timestamp-converter">Timestamp Converter</a></li>
      </ul>
    </div>
  </li>
  <li class="list-group-item">
    <a href="#" class="d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#category3">
      <strong>Hashing & Cryptography</strong>
      <span class="badge badge-primary badge-pill">+</span>
    </a>
    <div id="category3" class="collapse show">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/sha1">SHA-1 Hash Generator</a></li>
        <li class="list-group-item"><a href="/sha256">SHA-256 Hash Generator</a></li>
        <li class="list-group-item"><a href="/md5">MD5 Hash Generator</a></li>
        <li class="list-group-item"><a href="/hmac">HMAC Hash Generator</a></li>
        <li class="list-group-item"><a href="/jwt">JWT Generator</a></li>
        <li class="list-group-item"><a href="/bcrypt">Bcrypt Hash Generator</a></li>
      </ul>
    </div>
  </li>
  <li class="list-group-item">
    <a href="/loan-calculator">Loan Calculator</a>
  </li>
</ul>
