<ul class="list-group">
  <li class="list-group-item"><a href="/">메인 페이지</a></li>
  <li class="list-group-item"><a href="/json-formatter">JSON Formatter</a></li>
  <li class="list-group-item"><a href="/base64">Base64 Encoder & Decoder</a></li>
  <li class="list-group-item"><a href="/xml-to-json">XML to JSON Converter</a></li>
  <li class="list-group-item"><a href="/url-escape-unescape">URL Encode</a></li>
  <li class="list-group-item"><a href="/word-counter">글자수 세기</a></li>
  <li class="list-group-item"><a href="/to-uppercase">소문자 -> 대문자 변환 도구</a></li>
  <li class="list-group-item"><a href="/to-lowercase">대문자 -> 소문자 변환 도구</a></li>
  <li class="list-group-item"><a href="/reverse-text">문자열 뒤집기</a></li>
  <li class="list-group-item"><a href="/xml-to-xsd">XML to XSD Converter</a></li>

  
</ul>
