<!-- Main Content -->
<div class="col-md-12 mb-4">
  <h2>Text Tools</h2>
  <div class="card-group">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Word Counter</h5>
        <p class="card-text">Counts words, characters, and lines in your text.</p>
        <a href="/word-counter" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">To Uppercase</h5>
        <p class="card-text">Converts text to uppercase.</p>
        <a href="/to-uppercase" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">To Lowercase</h5>
        <p class="card-text">Converts text to lowercase.</p>
        <a href="/to-lowercase" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Reverse Text</h5>
        <p class="card-text">Reverses your text.</p>
        <a href="/reverse-text" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">URL Encode/Decode</h5>
        <p class="card-text">Encode or decode URLs.</p>
        <a href="/url-escape-unescape" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">HTML Encode/Decode</h5>
        <p class="card-text">Encode or decode HTML entities.</p>
        <a href="/html-encode-decode" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mb-4">
  <h2>Data Conversion</h2>
  <div class="card-group">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">JSON Formatter</h5>
        <p class="card-text">Formats JSON data.</p>
        <a href="/json-formatter" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">XML to JSON</h5>
        <p class="card-text">Converts XML to JSON.</p>
        <a href="/xml-to-json" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">XML to XSD</h5>
        <p class="card-text">Converts XML to XSD.</p>
        <a href="/xml-to-xsd" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Base64 Encode/Decode</h5>
        <p class="card-text">Encode or decode Base64 data.</p>
        <a href="/base64" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">RGB Converter</h5>
        <p class="card-text">Convert between RGB, HEX, and HSL color codes.</p>
        <a href="/rgb-converter" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Timestamp Converter</h5>
        <p class="card-text">Convert timestamps between different formats.</p>
        <a href="/timestamp-converter" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mb-4">
  <h2>Hashing & Cryptography</h2>
  <div class="card-group">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">SHA-1 Hash Generator</h5>
        <p class="card-text">Generate SHA-1 hashes.</p>
        <a href="/sha1" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">SHA-256 Hash Generator</h5>
        <p class="card-text">Generate SHA-256 hashes.</p>
        <a href="/sha256" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">MD5 Hash Generator</h5>
        <p class="card-text">Generate MD5 hashes.</p>
        <a href="/md5" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">HMAC Hash Generator</h5>
        <p class="card-text">Generate HMAC hashes.</p>
        <a href="/hmac" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">JWT Generator</h5>
        <p class="card-text">Generate JSON Web Tokens (JWTs).</p>
        <a href="/jwt" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Bcrypt Hash Generator</h5>
        <p class="card-text">Generate bcrypt hashes.</p>
        <a href="/bcrypt" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mb-4">
  <h2>Other Tools</h2>
  <div class="card-group">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">Loan Calculator</h5>
        <p class="card-text">Calculate loan payments.</p>
        <a href="/loan-calculator" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>